<div class="Preload u-positionR" style="display: none; visibility: hidden;">
    <div class="u-fontSize-h4 u-text-white u-fontWeight-bold u-fontPlayfair u-positionA" id="Preload-logo">
        <span class="D"> Book </span>
        <span class="A u-text-darkerBlack"> marks </span>
    </div>
</div>
<nav class="Menu Menu--main" style="visibility: hidden; opacity: 0;">
    <div class="Container--Menu">
        <div class="Container-flex u-alignItems-center u-height100">
            <div class="u-fontSize-h4 u-fontWeight-black u-fontPlayfair" id="logo">
                <span class="daniel"><a href="https://danielautry.com/" class="link-white u-text-black">Bookmarks</a>
                </span>
            </div>
            <div class="">
                <div class="Menu-item">
                    <div class="u-fontSize-p4" id="Menu-portfolio">
                        <a href="https://danielautry.com/#portfolio" class="link-white u-text-black">Portfolio</a>
                    </div>
                </div>
                <div class="Menu-item">
                    <div class="u-fontSize-p4 u-fontWeight-bold" id="Menu-about">
                        <a href="https://danielautry.com/about.html" class="link-white u-text-black">About</a>
                    </div>
                </div>
                <div class="Menu-item">
                    <div class="u-fontSize-p4" id="Menu-resume">
                        <a href="https://danielautry.com/pdf/AutryDanielResume.pdf" target="_blank" class="link-white u-text-black">Resume</a>
                    </div>
                </div>
                <div class="Menu-item">
                    <div class="u-fontSize-p4" id="Menu-contact">
                        <a href="https://danielautry.com/#contact" class="link-white u-text-black">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>